<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Resume</title>
</head>
<body>

    <div>

        <div>
            <h1>Parth</h1>
            <p>Contact: <a href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox">banparth57@gmail.com</a> </p>
            <p>LinkedIn: <a href="https://www.linkedin.com/in/parth-bansal-27b870204/">linkedin.com/in/parth-bansal</a> </p>
            <p>GitHub: <a href="https://github.com/parth18-coder">github.com/parth18-coder</a> </p>

        </div>

        <table>
            <tr>
                <td>
                   <img src="/static/Img/MyPic.jpg" alt="MyPhoto" width="150" height="150"> 
                </td>
                <td>
                    I am a passionate software engineer with expertise in problem-solving and algorithmic thinking. I love to explore various technologies and frameworks to develop efficient and scalable solutions. With a strong foundation in data structures and algorithms, I strive to create robust and optimized code. I am constantly expanding my skills and staying up-to-date with the latest advancements in the field of software development. 
                </td>
            </tr>
        </table>

        <section>
            <h2>Education</h2>

            <ul>
                <li>Bachelor of Technology in Information Technology, Bennett University
                </li>
                <li>Apeejay School,Haryana
                </li>
            </ul>

        </section>

        <section>
            <h2>Work Experience</h2>

            <div>
                <h3>
                    Data Science Intern, Celebal Technology
                </h3>
    
                <p>May 2023 - Aug 2023</p>
                <ul>
                    <li>
                        Do the Data Engineering and run the Machine Learning Models
    
                    </li>
                    <li>Collaborated with cross-functional teams to design and implement software solutions
                    </li>
                </ul>
            </div>


        </section>
        
        <section>
            <h2>
                Skills
            </h2>

            <ul>
                <li>Java</li>
                <li>C++</li>
                <li>Python</li>
                <li>Kotlin</li>
                <li>Flutter</li>
                <li>Dart</li>
                <li>SQL</li>
            </ul>

        </section>

        <section>
            <h2>Achievements</h2>

            <ul>
                <li>Write a research paper on "Review on Stock Market Prediction using Machine Learning"
                </li>
                <li>AWS Academy Graduate- AWS Academy Machine Learning foundation
                </li>
            </ul>

        </section>

        <section>
            <h2>Projects</h2>

            <ul>
                <li>
                    <h3>Stock Market App</h3>
                    <p>A native android application in kotlin and jetpack compose.
                    </p>
                    <p>GitHub Link: <a href="https://github.com/parth18-coder/StockMarket">github.com/parth18-coder/StockMarket</a> </p>
                </li>
                <li>
                    <h3>
                        Speech Emotion Recognition App
                    </h3>
                    <p>It is native Android Application in Java and XML
                    </p>
                    <p>GitHub Link: <a href="https://github.com/parth18-coder/ser">github.com/parth18-coder/ser</a> </p>
                </li>
            </ul>

        </section>

        <footer>
            <p>&#169; 2023 Parth. All rights reserved.</p>
        </footer>

    </div>
    
</body>
</html>